/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  height: 100%;
  font-family: 'Inter', serif
}

/* Hero Section Styling */
.hero {
  background-image: url('https://images.unsplash.com/photo-1602662449708-121b086d0b15?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 80%;
}

.hero h1 {
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.1rem; /* Adds 2 pixels of space */
  margin-bottom: 1rem;
}

.hero p {
  font-weight: 200;
  font-size: 1.7rem;
  opacity: 0.9;
}
